
  
  #myInput {
    
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 40%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 25%;
   
  }
  .task{
    text-align: center;
    color: blueviolet;
  }
  

    .table{
        width: 100%;
        border-collapse: collapse;
    }
    .table th,
.table td {
  border: 1px solid #000;
  padding: 8px;
}
.table-responsive {
    overflow-x: auto;
  }