.container{
    margin: 0;
    padding: 0;
    
    }
    .main{
        text-align: center;
        position: relative;
        background-color: firebrick;
        
    }
    input{
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    button{
        margin-top: 20px;
    }